{application, emqx_bridge_<%= @name %>, [
    {description, "EMQX Enterprise <%= @pretty_name %> Bridge"},
    {vsn, "1.0.0"},
    {registered, []},
    {mod, {emqx_bridge_<%= @name %>_app, []}},
    {applications, [
        kernel,
        stdlib,
        emqx_resource
    ]},
    {env, [
        {emqx_action_info_modules, [emqx_bridge_<%= @name %>_action_info]},
        {emqx_connector_info_modules, [emqx_bridge_<%= @name %>_connector_info]}
    ]},
    {modules, []},

    {links, []}
]}.
